
/*About section*/
.about {
    width: 100%;
    height: 100vh;
    background-image: url('Background/green_for.png');
    background-position: center;
    background-size: cover;

}

.about .wrapper{
    width: 100%;
    height: auto;
    position: relative;
    
    /*transform: translateY(-90%);
    */text-align: left;
}

.about .wrapper h1{
    font-size: 100px;
    font-weight: 500;
    position: relative;
    left: 50px;
    bottom: auto;
    color: #e72727;
}

.about .content{
    padding: left 300px;
    width: 1300px;
    height:auto;
    padding-top: 15%;
    padding-left: 10%;
    padding-bottom: 5%;
}

.about .content h2{
    font-size: 25px;
    position: relative;
    justify-content: left;
    text-align: justify;
    font-style: italic bold;
    
}